<div class="container">
    <h1>Online Manager</h1>

    <div class="calculation-area">
      <input
        type="text"
        [(ngModel)]="replacementText"
        placeholder="Replacement word (e.g. 'Fizz')"
      />
      <input
        type="text"
        [(ngModel)]="replaceDivisor"
        placeholder="Divisible by (e.g. 3)"
      />
      <input
        type="text"
        [(ngModel)]="filterText"
        placeholder="Filter by value"
      />
      <button (click)="generateObjects()">{{ isFirstGeneration ? 'Generate First 10 elements' : 'Generate Next 10 elements' }}</button>
      <button [disabled]="currentIndex<10" (click)="goBackPrevious()">Go back to the previous 10 elements</button>
    </div>

  <display-of-filter-result
    [objects]="visibleObjects"
    [filter]="filterText"
  ></display-of-filter-result>
</div>
